<header>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ideas</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="pull-left"><a href="/">Start Up Ideas</a></li>
                <% if(!user) {%>
                <li class="signup pull-right"><a href="/signup">Sign Up</a></li>
                <li class="login pull-right"><a href="/login">Login</a></li>
                <% }else{ %>
                <li class="pull-left" id = "welcome"><a href='/makeidea'>Got Any Ideas</a></li>
                <li class="pull-left"><a href='/querydates'>Top on some days</a></li>
                <li class="pull-left"><a href='/graphtop5'>Graph Top 5</a></li>
                <li class="pull-left"><a href='/myideas'>My Ideas</a></li>

                <li class="pull-right"><a href="/logout">Log out</a></li>
                <li class="pull-right" id = "welcome"><a>Welcome <%= user.name %></a></li>
                <% } %>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
</header>